<div class="sidebar">
  <div class="logo">
    <i class="fa-solid fa-heart-pulse"></i>
    <span>Amaze Care</span>
  </div>
  <nav class="navigation">
    <ul>
      <!-- <li>
        <a href="/dashboard/patient-dashboard" class="sidebar-link">
          <i class="fa-regular fa-chart-bar"></i>
          Health Snapshot
        </a>
      </li> -->
      <li>
        <!-- <a href="/dashboard/patientprofile" class="sidebar-link"> -->
          <a routerLink="/dashboard/patientprofile" class="sidebar-link">
          <i class="fa-solid fa-user"></i>
          Profile
        </a>
      </li>
      <li>
        <!-- <a href="/dashboard/patientmedication" class="sidebar-link"> -->
          <a routerLink="/dashboard/patientmedication" class="sidebar-link">
          <i class="fa-solid fa-tablets"></i>
          Medication
        </a>
      </li>
      <li>
        <!-- <a href="/dashboard/patientschedule" class="sidebar-link"> -->
          <a routerLink="/dashboard/patientschedule" class="sidebar-link">
            <i class="fa-solid fa-clock"></i>
          Schedule
        </a>
      </li>
      <li>
        <!-- <a href="/dashboard/patienthealth-record" class="sidebar-link"> -->
          <a routerLink="/dashboard/patienthealth-record" class="sidebar-link">
            <i class="fa-regular fa-clipboard"></i>
          Health Record
        </a>
      </li>
    </ul>
  </nav>
  <div class="logout">
    <!-- <a href="/home" class="sidebar-link"> -->
      <a routerLink="/home" class="sidebar-link">
        <i class="fa-solid fa-right-from-bracket"></i>
      Back to Home
    </a>
  </div>
</div>

<script>
  window.onload = function() {
    var currentPath = window.location.pathname;
    var links = document.querySelectorAll('.sidebar-link');
    
    links.forEach(function(link) {
      if (link.getAttribute('href') === currentPath) {
        link.classList.add('active');
      }
    });
  };
</script>
