<div class="dashboard">
  <app-admin-sidebar></app-admin-sidebar>

  <div class="content">
    <!-- <h2>Dashboard</h2> -->

    <div class="dashboard-container">
      <h2>Dashboard Statistics</h2>
      <div class="statistics">
        <div class="statistic-item">
          <h3>Patients</h3>
          <p>{{ statistics.patientCount }}</p>
        </div>
        <div class="statistic-item">
          <h3>Doctors</h3>
          <p>{{ statistics.doctorCount }}</p>
        </div>
        <div class="statistic-item">
          <h3>Appointments</h3>
          <p>{{ statistics.appointmentCount }}</p>
        </div>
        <div class="statistic-item">
          <h3>Medical Records</h3>
          <p>{{ statistics.recordCount }}</p>
        </div>
      </div>
    </div>

    <!-- Row 1 (Patients and Appointments) -->
    <div class="chart-row" *ngIf="currentPage === 1">
      <div class="chart-container small-chart">
        <h3>Patients and Appointments</h3>
        <canvas #barChart></canvas>
      </div>

      <div class="chart-container small-chart">
        <h3>All Existing Appointments</h3>
        <canvas #pieChart></canvas>
      </div>
    </div>

  </div>
</div>

  
